<div class="footer-widgets">
  <div class="wrap">

    <div class="footer-widget-1">
      <section class="widget social-icons">
        <ul>

          {% if site.data.social.facebook_url %}<li><a href="{{ site.data.social.facebook_url }}" title="Facebook"><i class="fa fa-facebook"></i></a></li>{% endif %}

          {% if site.data.social.twitter_username %}<li><a href="https://twitter.com/{{ site.data.social.twitter_username }}" title="Twitter"><i class="fa fa-twitter"></i></a></li>{% endif %}

          {% if site.data.social.google_plus_url %}<li><a href="{{ site.data.social.google_plus_url }}" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>{% endif %}

          {% if site.data.social.instagram_username %}<li><a href="https://www.instagram.com/{{ site.data.social.instagram_username }}" title="Instagram"><i class="fa fa-instagram"></i></a></li>{% endif %}

          {% if site.data.social.github_username %}<li><a href="https://github.com/{{ site.data.social.github_username }}" title="GitHub"><i class="fa fa-github"></i></a></li>{% endif %}

          {% if site.data.social.youtube %}<li><a href="{{ site.data.social.youtube }}" title="YouTube"><i class="fa fa-youtube"></i></a></li>{% endif %}

          {% if site.data.social.whatsapp %}<li><a href="{{ site.data.social.whatsapp }}" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>{% endif %}

          {% if site.data.social.linkedin %}<li><a href="{{ site.data.social.linkedin }}" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>{% endif %}

          {% if site.data.social.medium %}<li><a href="{{ site.data.social.medium }}" title="Medium"><i class="fa fa-medium"></i></a></li>{% endif %}

          {% if site.data.social.dribbble %}<li><a href="{{ site.data.social.dribbble }}" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>{% endif %}

          {% if site.data.social.email %}<li><a href="mailto:{{ site.data.social.email }}" title="Email"><i class="fa fa-envelope"></i></a></li>{% endif %}

        </ul>
      </section>
    </div>

    <div class="footer-widget-2">
      <section class="widget editable">
        <ul class="menu">
          <li class="menu-item"><a href="/about/" itemprop="url">Full Width Content</a></li>
          <li class="menu-item"><a href="/post-twitter-embeds/" itemprop="url">Content Sidebar</a></li>
        </ul>
      </section>
    </div>

    <div class="footer-widget-3">
      <section class="widget editable">
        <ul class="menu">
          <li class="menu-item"><a href="/typography/" itemprop="url">Typography</a></li>
          <li class="menu-item"><a href="/contact/" itemprop="url">Contact</a></li>
        </ul>
      </section>
    </div>

    <div class="footer-widget-4">
      <section class="widget editable">
        <ul class="menu">
          <li class="menu-item"><a href="/about/" itemprop="url">Services</a></li>
          <li class="menu-item"><a href="/portfolio/" itemprop="url">Portfolio</a></li>
        </ul>
      </section>
    </div>

  </div>
</div>
