{% comment %} Add navigation toggler {% endcomment %}
<script>
document.querySelector('.responsive-menu-icon').addEventListener('click', function(e) {
  var navigation = document.querySelector('.menu');

  if(navigation.getAttribute('data-collapsed') === 'true') {
    // get the height of the element's inner content, regardless of its actual size
    var sectionHeight = navigation.scrollHeight;

    // have the element transition to the height of its inner content
    navigation.style.height = sectionHeight + 'px';

    // mark the section as "currently not collapsed"
    navigation.setAttribute('data-collapsed', 'false');

    // mark Aria toggle button expanded as true
    document.querySelector('.responsive-menu-icon').setAttribute('aria-expanded', 'true');

    // set data-collapsed to false
    navigation.setAttribute('data-collapsed', 'false')
  } else {
    // get the height of the element's inner content, regardless of its actual size
    var sectionHeight = navigation.scrollHeight;

    // temporarily disable all css transitions
    var elementTransition = navigation.style.transition;
    navigation.style.transition = '';

    // on the next frame (as soon as the previous style change has taken effect),
    // explicitly set the element's height to its current pixel height, so we
    // aren't transitioning out of 'auto'
    requestAnimationFrame(function() {
      navigation.style.height = sectionHeight + 'px';
      navigation.style.transition = elementTransition;

      // on the next frame (as soon as the previous style change has taken effect),
      // have the element transition to height: 0
      requestAnimationFrame(function() {
        navigation.style.height = 0 + 'px';
      });
    });

    // mark the section as "currently collapsed"
    navigation.setAttribute('data-collapsed', 'true');

    // mark Aria toggle button expanded as false
    document.querySelector('.responsive-menu-icon').setAttribute('aria-expanded', 'false');
  }
});
</script>


{% comment %}

  Full overlay navigation function:

  document.getElementById('toggle').addEventListener('click', toggleMenu);
  function toggleMenu() {

    var navigation = document.getElementById('navigation');
    var height = window.getComputedStyle(navigation).getPropertyValue('height');

    if (height == '0px') {
      navigation.style.height = '100%';
    } else {
      navigation.style.height = '0%';
    }

    if (this.attributes['aria-expanded'].value == 'true') {
      this.setAttribute('aria-expanded', 'false');
    } else {
      this.setAttribute('aria-expanded', 'true');
    }

  }
{% endcomment %}


{% comment %} Find iframes and wrap them with iframe-embed div {% endcomment %}
{% if page.video_embed %}
  <script>
    // Wrap function
    HTMLElement.prototype.wrap = function(elms) {
      // Convert `elms` to an array, if necessary.
      if (!elms.length) elms = [elms];

      // Loops backwards to prevent having to clone the wrapper on the
      // first element (see `child` below).
      for (var i = elms.length - 1; i >= 0; i--) {
        var child = (i > 0) ? this.cloneNode(true) : this;
        var el = elms[i];

        // Cache the current parent and sibling.
        var parent = el.parentNode;
        var sibling = el.nextSibling;

        // Wrap the element (is automatically removed from its current
        // parent).
        child.appendChild(el);

        // If the element had a sibling, insert the wrapper before
        // the sibling to maintain the HTML structure; otherwise, just
        // append it to the parent.
        if (sibling) {
          parent.insertBefore(child, sibling);
        } else {
          parent.appendChild(child);
        }
      }
    };

    // Get all iframes
    var iframes = document.getElementsByTagName('iframe');

    // Create a div
    var div = document.createElement('div');

    // Give that div a class
    div.classList.add('iframe-embed');

    // Pass that div to the wrap function
    div.wrap(iframes);
  </script>
{% endif %}


{% comment %} photoSwipe Lightbox scripts {% endcomment %}
{% if page.lightbox %}
  <!-- TODO: Probably need to make this conditional based on an array structure -->
  <script src="{{ '/js/photoswipe.min.js' | absolute_url }}"></script>
  <script src="{{ '/js/photoswipe-ui-default.min.js' | absolute_url }}"></script>
  <script>
    var initPhotoSwipeFromDOM = function(gallerySelector) {
      // parse slide data (url, title, size ...) from DOM elements
      // (children of gallerySelector)
      var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
          numNodes = thumbElements.length,
          items = [],
          figureEl,
          linkEl,
          size,
          item;

        for (var i = 0; i < numNodes; i++) {
          figureEl = thumbElements[i]; // <figure> element

          // include only element nodes
          if (figureEl.nodeType !== 1) {
            continue;
          }

          linkEl = figureEl.children[0]; // <a> element

          size = linkEl.getAttribute("data-size").split("x");

          // create slide object
          item = {
            src: linkEl.getAttribute("href"),
            w: parseInt(size[0], 10),
            h: parseInt(size[1], 10)
          };

          if (figureEl.children.length > 1) {
            // <figcaption> content
            item.title = figureEl.children[1].innerHTML;
          }

          if (linkEl.children.length > 0) {
            // <img> thumbnail element, retrieving thumbnail url
            item.msrc = linkEl.children[0].getAttribute("src");
          }

          item.el = figureEl; // save link to element for getThumbBoundsFn
          items.push(item);
        }

        return items;
      };

      // find nearest parent element
      var closest = function closest(el, fn) {
        return el && (fn(el) ? el : closest(el.parentNode, fn));
      };

      // triggers when user clicks on thumbnail
      var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : (e.returnValue = false);

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
          return el.tagName && el.tagName.toUpperCase() === "FIGURE";
        });

        if (!clickedListItem) {
          return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
          childNodes = clickedListItem.parentNode.childNodes,
          numChildNodes = childNodes.length,
          nodeIndex = 0,
          index;

        for (var i = 0; i < numChildNodes; i++) {
          if (childNodes[i].nodeType !== 1) {
            continue;
          }

          if (childNodes[i] === clickedListItem) {
            index = nodeIndex;
            break;
          }
          nodeIndex++;
        }

        if (index >= 0) {
          // open PhotoSwipe if valid index found
          openPhotoSwipe(index, clickedGallery);
        }
        return false;
      };

      // parse picture index and gallery index from URL (#&pid=1&gid=2)
      var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
          params = {};

        if (hash.length < 5) {
          return params;
        }

        var vars = hash.split("&");
        for (var i = 0; i < vars.length; i++) {
          if (!vars[i]) {
            continue;
          }
          var pair = vars[i].split("=");
          if (pair.length < 2) {
            continue;
          }
          params[pair[0]] = pair[1];
        }

        if (params.gid) {
          params.gid = parseInt(params.gid, 10);
        }

        return params;
      };

      var openPhotoSwipe = function(
        index,
        galleryElement,
        disableAnimation,
        fromURL
      ) {
        var pswpElement = document.querySelectorAll(".pswp")[0],
          gallery,
          options,
          items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {
          // define gallery index (for URL)
          galleryUID: galleryElement.getAttribute("data-pswp-uid"),

          getThumbBoundsFn: function(index) {
            // See Options -> getThumbBoundsFn section of documentation for more info
            var thumbnail = items[index].el.getElementsByTagName("img")[0], // find thumbnail
              pageYScroll =
                window.pageYOffset || document.documentElement.scrollTop,
              rect = thumbnail.getBoundingClientRect();

            return { x: rect.left, y: rect.top + pageYScroll, w: rect.width };
          }
        };

        // PhotoSwipe opened from URL
        if (fromURL) {
          if (options.galleryPIDs) {
            // parse real index when custom PIDs are used
            // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
            for (var j = 0; j < items.length; j++) {
              if (items[j].pid == index) {
                options.index = j;
                break;
              }
            }
          } else {
            // in URL indexes start from 1
            options.index = parseInt(index, 10) - 1;
          }
        } else {
          options.index = parseInt(index, 10);
        }

        // exit if index not found
        if (isNaN(options.index)) {
          return;
        }

        if (disableAnimation) {
          options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
      };

      // loop through all gallery elements and bind events
      var galleryElements = document.querySelectorAll(gallerySelector);

      for (var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute("data-pswp-uid", i + 1);
        galleryElements[i].onclick = onThumbnailsClick;
      }

      // Parse URL and open gallery if it contains #&pid=3&gid=1
      var hashData = photoswipeParseHash();
      if (hashData.pid && hashData.gid) {
        openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
      }
    };

    // execute above function
    initPhotoSwipeFromDOM(".gallery.lightbox");
  </script>
{% endif %}
