.archive-title {
  text-transform: capitalize;
}

.archive .entry {
  position: relative;
  margin-bottom: $spacer * 2;
}

.archive .entry-title {
  margin-bottom: 1rem;
  font-size: $h1-font-size;
}
