/* Footer Widgets
-------------------------------------------------- */
.footer-widgets {
  padding-top: 40px;
  clear: both;

  .widget {
    margin-bottom: 40px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .widget-area {
    float: left;
    width: 23.828125%;
    margin-left: 1.5625%;

    &:nth-child(2) {
      margin-left: 0;
      clear: both;
    }

  }

}

.footer-widget-1,
.footer-widget-2,
.footer-widget-3,
.footer-widget-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 550px) {
    float: left;
    width: 50%;
  }
  @media (min-width: 1000px) {
    width: 25%;
  }
}

.social-icons {

  a {
    border: 0;
    color: inherit;
  }

  li {
    float: left;
    margin-right: 14px;
    margin-bottom: 10px;

    &:hover {
      color: $primary-color;
    }

  }

  .fa {
    font-size: 26px;
  }

}
