.navigation {
  display: none;
  transition: height .25s ease;
  @include breakpoint(md) {
    display: flex;
  }

  &.open {
    display: flex;
  }

}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin: 0;
  list-style: none;

  a {
    color: $body-text-color;
  }

  a:hover,
  &.active > a {
    color: $primary-color;
    text-decoration: none;
  }

  &:hover .sub-menu {
    @include breakpoint(md) {
      display: block;
    }
  }

}

.sub-menu {
  display: none;
  width: calc(100% - 1.2rem);
  margin: 0 0 0 1.2rem;
  @include breakpoint(md) {
    position: absolute;
    z-index: 99;
    width: 180px;
    margin-top: -12px;
    text-align: left;
    background: $body-text-color;
    border-radius: 2px;
  }

  .menu-item {
    @include breakpoint(md) {
      width: 100%;
    }

    a {
      @include breakpoint(md) {
        width: 100%;
        margin: 0;
        padding: 8px 16px;
        color: #fff;
        border-top: 0;
      }
    }

    a:hover,
    &.active > a {
      color: $primary-color;
      text-decoration: none;
      opacity: 1;
    }

  }

  .menu-item:first-child > a {
    @include breakpoint(md) {
      padding-top: 16px;
    }
  }

  .menu-item:last-child a {
    @include breakpoint(md) {
      padding-bottom: 12px;
    }
  }

}


// Responsive Menu
.responsive-menu-icon {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: .8rem;
  cursor: pointer;
  @include breakpoint(md) {
    display: none;
  }

  &::after {
    display: inline-block;
    width: 1rem;
    margin: 0 0 0 10px;
    padding-bottom: 3px;
    content: '';
    border-top: 7px double;
    border-top-width: 9px;
    border-bottom: 2px solid;
    border-bottom-width: 3px;
  }
}

.sub-menu-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  padding: 6px 2px 0;
  visibility: visible;
  background: transparent;
  @include breakpoint(md) {
    display: none;
    visibility: hidden;
  }

  &:hover {
    box-shadow: none;
	}

  &::before {
    padding: 14px 5px;
    font: normal 16px/1 'FontAwesome';
    color: $body-text-color;
    cursor: pointer;
    content: '\f078';
  }

  &.activated::before {
    content: '\f077';
  }

}
