.sidebar {

  li {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: .05rem dotted #ddd;
  }

  p:last-child,
  ul > li:last-child {
    margin-bottom: 0;
  }

  .widget {
    margin-bottom: $spacer * 2;
    background-color: #fff;
  }

}
