.site-inner {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
	clear: both;
	word-wrap: break-word;
  @media (min-width: 1000px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1340px) {
    max-width: 1280px;
  }
}

.content {
  float: left;
  width: 100%;
  font-size: 16px;
  @media (min-width: 1000px) {
    width: 620px;
  }
  @media (min-width: 1200px) {
    width: 800px;
  }
  @media (min-width: 1340px) {
    width: 880px;
  }
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: 1000px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1340px) {
    max-width: 1280px;
  }
}
