$body-font: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$primary-color: #1eaedb;
$secondary-color: #fff;
$body-text-color: #454545;

$font-size-base: 1.25rem !default;
$h1-font-size: 3.125rem !default;
$h2-font-size: 2.5rem !default;
$h3-font-size: 2.1875rem !default;
$h4-font-size: 1.875rem !default;
$h5-font-size: 1.5625rem !default;
$h6-font-size: 1.25rem !default;

$spacer: 1rem;

// Breakpoints need to be em values and calculated from a 16px base to match their calulated equivelents.
$grid-breakpoints: (
  xs: 0,
  sm: 34.375em, // ~550px
  md: 46.875em, // ~750px
  lg: 62.5em,   // ~1000px
  xl: 75em,     // ~1200px
  xxl: 83.75em  // ~1340px
) !default;
