.widget {
  word-wrap: break-word;

  ol > li {
    padding-left: 1rem;
    text-indent: -1rem;
    list-style-position: inside;
    list-style-type: decimal;
  }

  li li {
    margin: 0 0 0 1.5rem;
    padding: 0;
    border: 0;
  }

}
